.payment {
  padding: 0 35px;
}

.payment__header {
  h3 {
    font-family: "They call me Lazy Thinbold";
    font-size: 32px;
    direction: ltr;
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #948949;
    margin-top: 20px;
  }
  span {
    color: #c6b661;
    font-weight: 400;
  }
}

.payment__brand {
  display: flex;
  justify-content: center;
  top: 10px;
  left: 40%;
  height: 140px;
  gap: 10px;
  img {
    height: 100%;
    margin: 0;
  }
}

.payment__footer {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  button {
    cursor: pointer;
  }
}

.btn_action {
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
  padding: 6px 10px;
  margin: 0px 10px;
  border: 1px solid #c6b661;
  border-radius: 4px;
  color: white;
  background-color: #948949;
}

.login__input {
  display: block;
  width: 100%;
  padding: 8px 8px;
  border: 1px solid #948949;
  border-radius: 0.25rem;
}

.login__input:focus {
  outline-color: #c6b661;
}

.login__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-bottom: 2rem;
}

.login {
  padding: 0 35px;
}

.login__input2 {
  display: block;
  margin: 8px 0;
  width: 100%;
  padding: 8px 8px;
  border: 0.1px solid rgb(203, 202, 202);
  border-radius: 0.25rem;
}

.login__header {
  h3 {
    font-family: "They call me Lazy Thinbold";
    font-size: 32px;
    direction: ltr;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #948949;
    margin-top: 20px;
  }
  span {
    color: #c6b661;
  }
}
