.image_upload_form {
  padding: 1rem 0.5rem;
  border-style: dashed;
  border-width: 2px;
  border-color: hsla(0, 0%, 0%, 0.411);
}

.image_upload_form__header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}

.image_upload_form__media {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.image_upload_form__trash-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 0.5rem;
  right: 0.5rem;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
  line-height: 1;
  border-color: transparent;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  color: #0000005b;
  font-weight: 700;
  z-index: 2000;
  transition-property: background, color;
  transition-duration: 200ms;
}

.video-upload-form__trash-btn:hover {
  background-color: #f1e9e994;
  color: #000000d2;
}

.image_upload_form__media__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-upload-form__image-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-upload-form__fig {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.video-upload-form__img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: scale-down;
}

.video-upload-form__footer {
  display: flex;
  justify-content: flex-end;
}

.image_upload_form__input {
  display: block;
  width: 100%;
  padding: 6px 8px;
  margin-top: 10px;
  margin: 10px 0 10px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;

  // @include tablet() {
  //   margin-top: 0;
  // }

  // @include desktop() {
  //   margin-top: 0;
  // }
}

.video-upload-form__input:focus {
  outline-width: 2px;
  outline-color: rgba(6, 95, 212, 0.5);
  outline-style: solid;
}
.mantine-Dropzone-root {
  flex-grow: 1;
  height: 100%;
}

.image_item {
  display: flex;
  margin: 10px 0;
}
.image_item__btn_wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.upload__image_wrapper {
  button {
    justify-content: center;
    flex-grow: 0.5;
    padding: 3px 6px;
    margin: 2px 2px;
    border: 1px solid #4d70b5;
    border-radius: 4px;
    color: white;
    background-color: #4d70b5;
  }
}

.upload__image_button {
  display: flex;
}

.image_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 10px;
}

.button {
  button {
    justify-content: center;
    flex-grow: 0.5;
    padding: 8px 16px;
    margin: 2px 2px;
    border: 1px solid #4d70b5;
    border-radius: 4px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #4d70b5;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
}

.selectBox {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-bottom: 50px;
}

.button__box {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    justify-content: center;
    flex-grow: 0.5;
    padding: 8px 16px;
    margin: 2px 2px;
    border: 1px solid #4d70b5;
    border-radius: 4px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #4d70b5;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
}

.payment {
  padding: 0 35px;
}

.payment__header {
  h3 {
    font-family: "They call me Lazy Thinbold";
    font-size: 32px;
    direction: ltr;
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    color: #948949;
    margin-top: 20px;
  }
  span {
    color: #c6b661;
    font-weight: 400;
  }
}

.payment__brand {
  display: flex;
  justify-content: center;
  top: 10px;
  left: 40%;
  height: 140px;
  gap: 10px;
  img {
    height: 100%;
    margin: 0;
  }
}

.payment__footer {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  button {
    cursor: pointer;
  }
}

.btn_action {
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
  padding: 6px 10px;
  margin: 0px 10px;
  border: 1px solid #c6b661;
  border-radius: 4px;
  color: white;
  background-color: #948949;
}
