.data__buttonNewWorker {
  display: flex;
  gap: 15px;
}

.buttonNewWorker__buton1 {
  background-color: #948949;
  color: white;
}

.buttonNewWorker__buton2 {
  background-color: #c6b661;
  color: white;
}
