.tableOfWorkers {
  margin: 40px;
  th {
    text-align: center;
    font-weight: bold;
  }
  td {
    text-align: center;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  min-height: 100vh;
}

.loading {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
  justify-content: center;
  gap: 15px;

  h1 {
    font-family: "They call me Lazy Thinbold";
    font-size: 62px;
    direction: ltr;
    font-weight: 500;
    font-style: normal;
    color: #948949;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
  }
  span {
    color: #c6b661;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
  }
}
.title {
  h1 {
    font-family: "They call me Lazy Thinbold";
    font-size: 42px;
    direction: ltr;
    font-weight: 400;
    font-style: normal;
    color: #948949;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6);
  }
}
